<ion-content [fullscreen]="true" class="fondo">


<div class="label">
  <ion-label class="yellow">Registr</ion-label>
  <ion-label class="blue">App</ion-label>
</div>

<ion-button expand="block" (click)="loginalumno()" class="boton2" color="warning">Ingresar como alumno</ion-button>
<ion-button expand="block" (click)="logindocente()" class="boton3" color="warning">Ingresar como docente</ion-button>


<footer>
  <div class="logo">
    <img src="./../../../assets/img/Logo_Duoc.png" alt="Logo Duoc">
  </div>
</footer>
</ion-content>